@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Simple Survey is a simple tool for HR administrators to collect engagement, experience and satisfaction information from employees.</p>
